<div class="flash-message">
    {% if app.session.hasFlash('notice') %}
    <div class="alert-message success">
      <a class="close" href="#">×</a>
      <p>{{ app.session.flash('notice') }}</p>
    </div>
    {% endif %}

    {% if app.session.hasFlash('error') %}
    <div class="alert-message error">
      <a class="close" href="#">×</a>
      <p>{{ app.session.flash('error') }}</p>
    </div>
    {% endif %}
</div>