{% if app.session.hasFlash('notice') %}
<div class="alert in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>{{ 'Notice:'|trans }}</strong> {{ app.session.flash('notice') }}
</div>
{% endif %}

{% if app.session.hasFlash('error') %}
<div class="alert in alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>{{ 'Error:'|trans }}</strong> {{ app.session.flash('error') }}
</div>
{% endif %}