/*General*/
@media (min-width: 1200px) {
    body {
            padding-top: 50px;
            padding-bottom: 100px;
        }
}
.btn-icon i {
    margin-left: -5px;
    margin-right: 5px;
}
/*Fin General*/

.table td.opcions li {
    list-style: none;
    float: left;
    margin-right: 10px;
}
.table th.batch {
    width: 10px;
}
.table-header .toggle_filter {
    padding: 3px;
}
.table-header form {
    margin: 0;
    margin-bottom: 5px;
}
.show-hidde-filter {
    background-color: #0088CC;
    margin: 0;
    width: 100%;
    display: block;
    border-radius: 0 0 4px 4px;
    text-align: center;
    cursor: pointer;
}
@media (min-width: 320px) { 
    .actions_list .actions li {
        margin-bottom: 5px;
    }
}
.actions_list .actions {
    float: right;
    margin: 0;
    margin-bottom: 5px;
}
.actions_list .actions li {
    list-style: none;
    float: left;
    margin-left: 5px;
}
.table-header.thumbnail.filter_panel {
    padding: 0;
    margin-bottom: 5px;
}

.table-footer .batch {
    float: left;
}
.table-footer .batch select {
    float: left;
    margin-right: 3px;
}
.table-footer .batch .loader {
    display: inline;    
}
.table-footer .batch .loader img {
    margin-top: -10px;
}
.table-footer .batch .btn {
    margin-top: -6px;
    float: left;
}
@media (max-width: 320px) { 
    .table-footer .batch {
        text-align: center;
    }
}
.table-footer .pagination {
    float: right;
    margin-top: 5px;
}
.table-footer .pagination > * {
    float: left;
    margin-right: 10px;
}
.table-footer .pagination .pager-indicator {
    font-weight: bold;
    color: #DA4F49;
}
.table-footer .pagination .loader {
    width: 20px;
    margin-top: -3px;
}
.table-footer .pagination select {
    width: 71px;
}
.table-footer select {
    margin-top: -7px;
}
@media (min-width: 320px) {    
    .filter_panel .control-group {
        float: left;
        margin-right: 10px;
    }
}

/*Flash*/
.page-title > * {
    float: left;
}
.page-title .flash {
    margin-left: 20px;
    padding-top: 10px;
    margin-bottom: -20px;
}
/*Fin Flash*/

.form-admin.thumbnail {
    padding-bottom: 0;
    padding-top: 20px;
}
.form-admin.thumbnail form {
    margin: 0;
}
.form-admin.thumbnail .form-actions {    
    margin-bottom: 4px;
}

/*menu_top*/
.menu_top a i {
    margin-right: 5px;
}
/*fin menu_top*/