{% if pager|length %}
    <form action="{% block route_batch %}{% endblock %}" method="post">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                {% block header_table %}{% endblock %}
            </thead>
            <tbody>
                {% block body_table %}{% endblock %}
            </tbody>
        </table>
        <div class="form-inline">
            {% block footer_table %}{% endblock %}
        </div>
    </form>
{% else %}
    <h3>{{ 'there is not record'|trans }}</h3>
{% endif %}
