{% extends '::backend_base.html.twig' %}

{% block content %}
<div class="view_header">
    {% block actions %}{% endblock %}
    <div style="clear: both"></div>
</div>
<div class="form-admin thumbnail">
    {% block view_body %}{% endblock %}
</div>
{% endblock %}
